@charset "UTF-8";
@mixin size($w, $h, $b) {
    width: $w;
    height: $h;
    background: $b;
}

@mixin flexbox($a, $b, $c, $d) {
    display: $a;
    flex-direction: $b;
    justify-content: $c;
    align-items: $d;
}

@mixin style($s, $a, $f, $c, $l) {
    font-size: $s;
    text-align: $a;
    font-family: $f;
    color: $c;
    line-height: $l;
}

@mixin border($s, $r, $b, $l) {
    border-top: $s;
    border-right: $r;
    border-bottom: $b;
    border-left: $l;
}

@mixin border-color($s, $c) {
    border-style: $s;
    border-color: $c;
}

#nav {
    @include size(0, 100%, null);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9990;
    .nav1 {
        @include size(0, 100%, null);
        position: absolute;
        right: 0;
        top: 0;
        border-right: 6px solid #7a6e6e;
        -webkit-transition: right .3s ease-in-out 0s;
        -moz-transition: right .3s ease-in-out 0s;
        transition: right .3s ease-in-out 0s;
    }
}

.nav3 {
    @include size(35px, 50%, null);
    position: relative;
    top: 50%;
    left: -29px;
    margin-top: -61px;
    .nav30 {
        @include size(35px, 35px, #7a6e6e);
        position: relative;
        margin-bottom: 1px;
        cursor: pointer;
        border-radius: 3px 0 0 3px;
        z-index: 10;
    }
    .tab-tip {
        @include size(6px, 6px, null);
        position: absolute;
        top: 8px;
        right: 10px;
        // display: block;
        z-index: 9;
        display: inline-block;
        background: url(../img/toolbar_bg.png) no-repeat;
        background-position: -100px 0;
    }
    .tab-ico {
        @include size(34px, 35px, #7a6e6e);
        margin-left: 1px;
        position: relative;
        display: inline-block;
        background: url(../img/toolbar_bg.png);
        background-repeat: no-repeat;
    }
}

.tab-text {
    @include size(62px, 35px, #7a6e6e);
    @include style(0, center, "宋体", #fff, 35px);
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0;
    border-radius: 3px 0 0 3px;
    transition: left .3s ease-in-out .1s;
}

.nav31 {
    @extend .nav30;
    .tab-ico {
        background-position: 0 -50px;
    }
}

.nav32 {
    @extend .nav31;
    .tab-ico {
        background-position: 0 -350px;
    }
}

.nav33 {
    @extend .nav31;
    .tab-ico {
        background-position: 0 -100px;
    }
}

.nav34 {
    @extend .nav31;
    .tab-ico {
        background-position: 0 -150px;
    }
}

.nav35 {
    @extend .nav31;
    .tab-ico {
        background-position: 0 -200px;
    }
}

.nav36 {
    @extend .nav31;
    .tab-ico {
        background-position: 0 -300px;
    }
}

.nav4 {
    @include size(35px, 35px, #7a6e6e);
    position: absolute;
    bottom: -1px;
    left: -29px;
    z-index: 999;
    .nav41 {
        @include size(35px, 35px, #7a6e6e);
        position: relative;
        margin-bottom: 1px;
        cursor: pointer;
        border-radius: 3px 0 0 3px;
        background: url(../img/toolbar_bg.png) no-repeat;
        background-position: 0 -250px;
        z-index: 1000;
    }
}

.nav50 {
    @include size(100px, 35px, #C81623);
    right: -100px;
    top: 0px;
    position: absolute;
    margin-bottom: 1px;
    cursor: pointer;
    border-radius: 7px 0 0 7px;
    z-index: -1;
    // display: none;
    span {
        @include style(14px, center, null, #fff, 35px);
        margin-left: 6px;
    }
}

.tab-ico:hover .nav50 {
    right: 0;
    transition: 1s;
}