@charset "UTF-8";
@import "header";
@import "nav";
@import "show";
@import "ccti";
@import "footer";
@import "like";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}