@charset "UTF-8";
@import "header";
@import "nav";
@import "ccti";
@import "footer";
@mixin size($w, $h, $b) {
    width: $w;
    height: $h;
    background: $b;
}

@mixin flexbox($a, $b, $c, $d) {
    display: $a;
    flex-direction: $b;
    justify-content: $c;
    align-items: $d;
}

@mixin style($s, $a, $f, $c, $l) {
    font-size: $s;
    text-align: $a;
    font-family: $f;
    color: $c;
    line-height: $l;
}

.banner {
    display: none;
    position: relative;
    z-index: 99;
    background-color: #FFF;
    ul {
        @include size(180px, 100%, #6e6568);
        padding: 19px 0;
        position: absolute;
        left: calc(50% - 605px);
        top: 0;
        li {
            @include size(100%, 34px, #6e6568);
            padding-left: 12px;
            color: #fff;
            a {
                @include style(14px, start, null, #fff, 34px);
                padding: 0 3px;
            }
        }
    }
}

.he-bottom2:hover .cl {
    display: block;
}

.cartlist {
    @include size(998px, 468px, #e5e5e5);
    position: absolute;
    left: 250px;
    top: 0;
    border: 1px solid #f7f7f7;
    display: none;
    transition: top .3s ease;
    z-index: 10;
}

.man {
    @include flexbox(flex, row, center, center);
    position: relative;
    z-index: 2;
    text-align: center;
    .man1 {
        display: inline-block;
        width: 1200px;
        margin: 0 auto;
        border-top: solid 1px #DDD;
        background: #F1F1F1;
        .man2 {
            display: block;
            float: left;
            margin: 6px 13px 6px 15px;
        }
    }
}

.man2 li {
    position: relative;
    z-index: 1;
    float: left;
    a {
        display: block;
        height: 23px;
        padding: 0 9px;
        border: solid 1px #CCC;
        background-color: #FFF;
        font-size: 12px;
        line-height: 23px;
        color: #333;
    }
}

.man3 {
    @include flexbox(flex, row, center, center);
    width: 146px;
    display: block;
    float: left;
    height: 30px;
    padding: 6px 14px;
    margin: 0;
    line-height: 25px;
    color: #888;
    overflow: hidden;
    input {
        @include size(53px, 23px, null);
        @include style(12px, left, Verdana, #AAA, 23px);
        float: left;
        padding: 0 2px;
        border: solid 1px #CCC;
    }
    .line {
        float: left;
        width: 12px;
        height: 25px;
    }
}

.man4 {
    width: 146px;
    display: block;
    float: left;
    height: 25px;
    padding: 6px 14px;
    margin: 0;
    line-height: 25px;
    color: #888;
    overflow: hidden;
    span {
        margin: 0 5px;
        float: left;
    }
}

.man5 {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    width: 98px;
    height: 36px;
    padding: 6px 0;
    border: solid #E7E7E7;
    border-width: 0 1px;
    margin-left: -1px;
    .man6 {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        height: 36px;
        padding: 6px 14px;
        span {
            display: block;
            float: left;
            color: #888;
            line-height: 25px;
        }
        i {
            display: block;
            float: left;
            width: 13px;
            height: 7px;
            background: url(../img/search.ele.png) no-repeat 0 0;
            margin: 9px 0 0 7px;
        }
    }
}

.man7 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 37px;
    left: -1px;
    right: -1px;
    border: solid #E7E7E7;
    border-width: 0 1px 1px 1px;
    background-color: #FFF;
    ul {
        display: block;
        list-style: none outside none;
        li {
            display: block;
            clear: both;
            a {
                display: block;
                height: 35px;
                padding: 6px 14px;
                text-align: left;
                color: #888;
            }
        }
    }
}

.man6:hover {
    background: #fff;
    border: solid 1px #E5E5E5;
    border-top: #fff;
}

.man5:hover .man7 {
    display: block;
}

.man6:hover .ii {
    transform: rotate(180deg);
    transition: 1s;
}

.man9 {
    width: 100px;
    @extend .man5;
}

.man9:hover .i1 {
    transform: rotate(180deg);
    transition: 1s;
}

.man8 {
    width: 100px;
    @extend .man5;
}

.man8:hover .i1 {
    transform: rotate(180deg);
    transition: 1s;
}

.fold {
    display: block;
    float: left;
    height: 25px;
    padding: 6px 14px;
    margin: 0;
    line-height: 25px;
    color: #888;
    overflow: hidden;
    span {
        display: block;
        cursor: pointer;
        line-height: 25px;
        color: #888;
        i {
            background: #fff 999px 999px;
            cursor: pointer;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            border: 1px solid #e4e4e4;
            margin-right: 5px;
            display: inline-block;
        }
    }
}

.fold1 {
    @extend .fold;
}

.list {
    @include flexbox(flex, column, center, center);
    width: 1160px;
    margin: 20px auto;
    font-size: 14px;
}

.list li {
    width: 222px;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    height: 310px;
    position: relative;
}

.list li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
}

.list li span {
    display: block;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 160px;
    overflow: hidden;
}

.list li span {
    height: 14px;
    padding: 0px 2px;
    margin-top: 4px;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 11px;
    color: #f30213;
    line-height: 14px;
}

.pagelist {
    clear: both;
    width: 1170px;
    margin: 0 auto;
    text-align: right;
    padding-right: 20px;
}

.m-style {
    float: right;
    text-align: center;
}

.m-style .active {
    @include size(55px, 38px, #F30213);
    float: left;
    margin: 0 5px;
    line-height: 38px;
    color: #fff;
    font-size: 14px;
    border: 1px solid pink;
}

.m-style a {
    @include size(55px, 38px, #fff);
    float: left;
    margin: 0 5px;
    line-height: 38px;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}

input {
    @include size(38px, 38px, #fff);
    @include style(14px, center, null, #bdbdbd, 38px);
    float: left;
    margin: 0 5px;
    border: 1px solid #ebebeb;
    outline: none;
}