@charset "UTF-8";
.header-wrap {
    width: 99%;
    height: 90px;
    border-bottom: solid 2px #F5F5F5;
    margin: 5px auto 0 auto;
    position: relative;
    z-index: 100;
    background-color: #FFF;
    width: 100%;
}

.header-wrap .wrapper {
    width: 1000px;
}

.public-head-layout {
    height: 80px;
}

.public-head-layout {
    height: 109px;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.public-head-layout .site-logo {
    margin: 10px 0 0 0;
    position: relative;
    width: 350px;
    width: 240px;
    height: 68px;
    float: left;
    margin: 22px 120px auto 0;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a {
    color: #06C;
}

a {
    color: #333;
    text-decoration: none;
    outline: medium none
}

.public-head-layout .site-logo img {
    width: 240px;
    height: 68px;
}

fieldset,
img {
    border: medium none;
    vertical-align: middle;
}

.public-head-layout .site-logo span {
    display: block;
    width: 110px;
    height: 40px;
    position: absolute;
    right: -119px;
    bottom: 0;
    font-size: 24px;
    line-height: 30px;
    color: #333;
}

.nc-register-bg {
    background: #FAFAFA url(https://statics.cnrmall.com/web/static/img/register_bg.png) repeat 50% 50%;
    width: 100%;
    height: 680px;
    overflow: hidden;
}

.nc-register-box {
    background: rgba(0, 0, 0, 0.15);
    width: 860px;
    height: 560px;
    padding: 10px;
    margin: 60px auto;
}

.nc-register-layout {
    background-color: #FFF;
    display: block;
    width: 820px;
    height: 520px;
    padding: 19px;
    border: solid 1px #CCC;
    overflow: hidden;
}

.tips-wrapper {
    background: #fff8f0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tips-wrapper .cont-wrapper {
    display: inline-block;
    width: 90%;
}

.tips-wrapper .icon-tips {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/login_pic.png) no-repeat -150px -250px;
}

i[class*="icon-"] {
    font-size: 14px;
    margin-right: 4px;
}

.tips-wrapper .tips-inner p {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    color: #999;
}

.footer {
    padding-top: 30px;
    font-size: 12px !important;
    text-align: center;
    clear: both;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: rgb(52, 58, 58);
    .footer1 {
        width: 1200px;
        margin: auto;
        p {
            color: #eeeeee;
            word-spacing: 5px;
            padding: 15px 0 0;
            a {
                color: #eeeeee;
                text-decoration: none;
            }
        }
    }
}

form {
    display: block;
    margin-top: 56px;
}

legend {
    float: left;
    width: 100%;
    height: 54px;
    color: #E4393C;
    font-weight: 700;
    font-size: 20px;
}

.p1 {
    width: 304px;
    height: 39px;
    border: 1px solid #bdbdbd;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    label {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 38px;
        height: 38px;
        border-right: 1px solid #bdbdbd;
        background: url(../img/login_pic.png) no-repeat;
        background-position: 0 -110px;
    }
    input {
        overflow: hidden;
        float: none;
        width: 254px;
        height: 18px;
        min-height: 18px;
        padding: 10px 0 10px 50px;
        border: 0;
        font-family: '\5b8b\4f53';
        font-size: 14px;
        line-height: 18px;
    }
}

.p2 {
    @extend .p1;
    label {
        background-position: -48px -110px;
    }
}

.p3 {
    width: 306px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(22, 189, 83, 1);
    position: relative;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    color: rgba(108, 108, 108, 1);
    cursor: pointer;
    a {
        color: #b61d1d;
        margin-left: 20px;
    }
}