@charset "UTF-8";
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}
#header .he-top {
  width: 100%;
  height: 36px;
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #E5E5E5;
}
#header .he-top .he-warpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1210px;
  height: 35px;
}
#header .he-top .he-warpper .ar {
  position: relative;
}

.ar1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 98px;
  height: 100%;
  padding-top: 0;
  padding-right: 9px;
  padding-bottom: 1px;
  padding-left: 9px;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 0;
  margin-left: 1px;
  white-space: nowrap;
  line-height: 34px;
  position: relative;
  z-index: 10;
}
.ar1 .lle {
  width: 7px;
  height: 4px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  color: #555;
  background: url(../img/web_common_pic.png) no-repeat;
  background-position: -110px -60px;
  display: block;
  margin-left: 10px;
}

.ar2 {
  width: 280px;
  background: #FFF;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
}
.ar2 a, .ar2 .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .ar2 a:nth-child(4), .ar2 .wrapper p span, .wrapper p .ar2 span {
  font-size: 12px;
  text-align: center;
  color: #666;
  line-height: 20px;
  width: 25%;
  height: 20px;
  background: #fff;
  padding-top: 0;
  padding-right: 2%;
  padding-bottom: 0;
  padding-left: 2%;
  text-align: start;
  margin-top: 10px;
  overflow: hidden;
}

.ar:hover .ar2 {
  display: flex;
}

.ar:hover .ar1 .icon {
  background-position: -60px 0;
}

.ar:hover .ar1 .lle {
  transform: rotate(180deg);
  transition: 1s;
}

.hello {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hello li {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.hello li a, .hello li .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .hello li a:nth-child(4), .hello li .wrapper p span, .wrapper p .hello li span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hello li a i, .hello li .warpper .co .coo .split a:nth-child(4) i, .warpper .co .coo .split .hello li a:nth-child(4) i, .hello li .wrapper p span i, .wrapper p .hello li span i {
  width: 7px;
  height: 4px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  color: #555;
  background: url(../img/web_common_pic.png) no-repeat;
  background-position: -110px -60px;
  display: block;
  margin-left: 10px;
}

.ni {
  color: #F30213;
}

.sp, .top1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 106px;
  background: #FFF;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: -109px;
  opacity: 0;
  display: block;
  padding: 10px;
  left: -1px;
  border: solid 1px #E5E5E5;
  border-top: #fff;
  flex-wrap: wrap;
}
.sp .i, .top1 .i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  color: #555;
  line-height: 24px;
  display: block;
  padding: 2px 0 2px 0px;
}

.order, .serve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
  padding: 0 10px;
  position: relative;
}

.order:hover, .serve:hover {
  background: #fff;
  border: solid 1px #E5E5E5;
  border-top: #fff;
}

.order:hover .sp, .serve:hover .sp, .order:hover .top1, .serve:hover .top1 {
  display: flex;
  top: 33px;
  opacity: 1;
  transition: .3s ease-out;
}

.order:hover .i4, .serve:hover .i4 {
  transform: rotate(180deg);
  transition: 1s;
}

.top, .top2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 175px;
  background: #fff;
  padding: 10px;
  position: absolute;
  left: -1px;
  z-index: 1;
  top: -122px;
  opacity: 0;
  border: solid 1px #E5E5E5;
  border-top: #fff;
  flex-wrap: wrap;
}
.top .i1, .top2 .i1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  color: #555;
  line-height: 24px;
  width: 50%;
  display: block;
  clear: both;
  padding: 2px 0 2px 10px;
}

.store, .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
  padding: 0 10px;
  position: relative;
}

.store:hover, .phone:hover {
  background: #fff;
  border: solid 1px #E5E5E5;
  border-top: #fff;
}

.store:hover .top, .phone:hover .top, .store:hover .top2, .phone:hover .top2 {
  display: flex;
  top: 33px;
  opacity: 1;
  transition: .3s ease-out;
}

.store:hover .i4, .phone:hover .i4 {
  transform: rotate(180deg);
  transition: 1s;
}

.serve:hover {
  background: #fff;
  border: solid 1px #E5E5E5;
  border-top: #fff;
}

.serve:hover .top1 {
  display: flex;
  top: 33px;
  opacity: 1;
  transition: .3s ease-out;
}

.top2 {
  left: -89px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  top: -210px;
}
.top2 img {
  width: 140px;
}
.top2 .i1 {
  width: 140px;
}

.phone:hover {
  background: #fff;
  border: solid 1px #E5E5E5;
  border-top: #fff;
}

.phone:hover .top2 {
  display: flex;
  top: 33px;
  opacity: 1;
  transition: .3s ease-out;
}

.icon {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/web_common_pic.png) no-repeat;
  background-position: -40px 0;
}

.he-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 109px;
  background: #FFF;
}
.he-center .he-center-war {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1210px;
  height: 109px;
  margin: auto;
}
.he-center .he-center-war .site-logo {
  width: 240px;
  height: 68px;
  margin-top: 22px;
  margin-right: 120px;
  margin-bottom: auto;
  margin-left: 0;
}

.search {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 550px;
}
.search .search1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 36px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #F30213;
  margin-top: 24px;
}
.search .search1 input {
  border-top: 2px;
  border-right: 0;
  border-bottom: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: #F30213;
  width: 460px;
  height: 34px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  line-height: 24px;
  color: #555;
}
.search .search1 .submit {
  width: 88px;
  height: 34px;
  background: #F30213;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  line-height: 36px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.search2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  margin-top: 5px;
  overflow: hidden;
}
.search2 li {
  font-size: 12px;
  text-align: top;
  color: #999;
  line-height: 12px;
  margin-top: 5px;
  margin-right: 12px;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 12px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
}

.carte {
  width: 140px;
  height: 36px;
  background: #fff;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #ddd;
  height: 36px;
  margin-top: 34px;
  margin-left: 30px;
}
.carte .care1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  background: #f9f9f9;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #DFDFDF;
  padding-top: 0;
  padding-right: 28px;
  padding-bottom: 0;
  padding-left: 19px;
  line-height: 34px;
}
.carte .care1 b {
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-left: 10px;
  background: url(../img/web_common_pic.png) no-repeat 0 -30px;
}
.carte .care1 a, .carte .care1 .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .carte .care1 a:nth-child(4), .carte .care1 .wrapper p span, .wrapper p .carte .care1 span {
  color: #F30213;
}

.he-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #FFF;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px;
  border-left: 0;
  border-style: solid;
  border-color: #F30213;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.he-bottom .he-bottom1 {
  width: 1210px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.he-bottom .he-bottom1 .he-bottom2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  background: #F30213;
}

.he-bottom4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 988px;
}
.he-bottom4 li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  vertical-align: top;
  display: inline-block;
}
.he-bottom4 li a, .he-bottom4 li .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .he-bottom4 li a:nth-child(4), .he-bottom4 li .wrapper p span, .wrapper p .he-bottom4 li span {
  font-size: 15px;
  text-align: center;
  color: #333;
  line-height: 36px;
  height: 20px;
  padding: 8px 24px;
  font-weight: 600;
}
.he-bottom4 li .aa {
  color: #F30213;
}

.tit {
  width: 180px;
  height: 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;
  height: 20px;
}
.tit a, .tit .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .tit a:nth-child(4), .tit .wrapper p span, .wrapper p .tit span {
  font-size: 14px;
  color: #FFF;
  line-height: 20px;
  margin-left: 6px;
}
.tit .arrow-down {
  width: 9px;
  height: 6px;
  margin-top: 8px;
  margin-right: 6px;
  margin-bottom: 0;
  margin-left: 0;
  background: url(../img/web_common_pic.png) no-repeat -90px -60px;
}

#banner {
  width: 100%;
  height: 479px;
  background: #c5000c;
  position: relative;
}
#banner ul {
  width: 180px;
  height: 100%;
  background: #6e6568;
  padding-top: 19px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;
  position: absolute;
  left: calc(50% - 605px);
  top: 0;
}
#banner ul li {
  width: 100%;
  height: 34px;
  background: #6e6568;
  padding-left: 12px;
  color: #fff;
}
#banner ul li a, #banner ul li .wrapper p span, .wrapper p #banner ul li span {
  font-size: 14px;
  text-align: start;
  color: #fff;
  line-height: 34px;
  padding: 0 3px;
}

.sinatv {
  width: 100%;
  height: 79px;
  background: #fff;
}
.sinatv .sinatv-le {
  width: 866px;
  height: 79px;
  margin-left: 235px;
  float: left;
}
.sinatv .sinatv-ri {
  width: 167px;
  height: 79px;
  float: left;
}

.sinatv-le1, .sinatv-le2 {
  width: 408px;
  height: 68px;
  border: 1px solid #e4e4e4;
  padding: 5px 0px 5px 0px;
  margin: 5px 6px 5px 15px;
  position: relative;
  float: left;
}
.sinatv-le1 .img1, .sinatv-le2 .img1 {
  width: 50%;
  height: 59px;
  margin-left: 5px;
  position: absolute;
  left: 2px;
  overflow: hidden;
  float: left;
}
.sinatv-le1 .sinatv-le3, .sinatv-le2 .sinatv-le3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 290px;
  height: 59px;
  left: 100px;
  float: left;
  position: relative;
}
.sinatv-le1 .sinatv-le3 .img2, .sinatv-le2 .sinatv-le3 .img2 {
  width: 90px;
  height: 59px;
  margin-left: 15px;
}

.goods {
  width: 175px;
  margin-left: 6px;
}
.goods p {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-overflow: ellipsis;
}
.goods p a, .goods p .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .goods p a:nth-child(4), .goods .wrapper p span, .wrapper .goods p span {
  color: #333;
}
.goods .goods1 {
  width: 50%;
  color: #f15c18;
  margin-top: 5px;
}
.goods .goods1 em {
  font-size: 20px;
  line-height: 32px;
}
.goods .goto {
  width: 84px;
  height: 22px;
  text-align: center;
  color: #f22d25;
  line-height: 21px;
  position: absolute;
  right: -4px;
  bottom: 4px;
  border: 1px solid #f22d25;
  box-shadow: 1px 1px 2px #e3d5d5;
}

.sinatv-le2 {
  width: 408px;
  height: 68px;
  border: 1px solid #e4e4e4;
  padding: 5px 0px 5px 0px;
  position: relative;
  float: left;
  margin: 5px 15px 5px 10px;
  overflow: hidden;
}
.sinatv-le2 .img3 {
  position: absolute;
  left: -97px;
}

.picture {
  width: 100%;
  height: 400px;
  background: #c5000c;
}
.picture .pic {
  width: 790px;
  height: 400px;
  display: block;
  text-indent: -9999px;
  margin-left: -395px;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.right-bar {
  height: 400px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 50%;
  margin-right: -607px;
  top: 79px;
  z-index: 10;
}
.right-bar h2 {
  font-size: 16px;
  text-align: center;
  color: #000;
  line-height: 30px;
  height: 30px;
  padding: 12px 0;
  font-weight: bold;
}
.right-bar .right-max {
  width: 185px;
  height: 346px;
  float: right;
}
.right-bar .right-max .img5 {
  width: 185px;
  margin-top: 30px;
}

h3 {
  text-align: center;
  color: #000;
  line-height: 24px;
  width: 100%;
  height: 24px;
  font-weight: bold;
}

.p1 {
  height: 40px;
  line-height: 20px;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}

.cartlist {
  position: absolute;
  left: 250px;
  top: 0;
  width: 998px;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  background-color: #e5e5e5;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, .3); */
  display: none;
  transition: top .3s ease;
  z-index: 10;
}

#show {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}
#show .seckill-box {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 1210px;
}
#show .seckill-box .seckill-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  line-height: 55px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 30px;
  position: relative;
  height: 55px;
  background: url(https://statics.cnrmall.com/web/static/img/active/seckill.png) no-repeat;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title i {
  width: 80px;
  height: 36px;
  background: url(../img/active.png) no-repeat;
  background-position: 0 -48px;
}
.title h3 {
  font-size: 26px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  margin-left: -53px;
  height: 36px;
  font-weight: 300;
}
.title a, .title .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .title a:nth-child(4), .title .wrapper p span, .wrapper p .title span {
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  width: 182px;
  height: 24px;
  margin-left: -36px;
  font-weight: 400;
}

.countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.countdown .tip {
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 45px;
  padding-top: 10px;
}
.countdown .timer {
  font-size: 20px;
  text-align: center;
  color: #440106;
  line-height: 2px;
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 6px;
  margin-top: 8px;
  font-weight: 600;
}
.countdown .timer .m, .countdown .timer .h, .countdown .timer .s {
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #000;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 0;
  margin-right: 4px;
  margin-bottom: 0;
  margin-left: 4px;
  background-color: #000;
  color: #f90013;
  border-radius: 4px;
  font-weight: 400;
}

.seckill-content {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 13px;
  padding-left: 0;
  margin-top: 0;
  margin-right: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.seckill-content .bx-prev, .seckill-content .bx-next {
  width: 28px;
  height: 62px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 22px;
  text-align: center;
  font-family: simsun;
  color: #FFF;
  line-height: 62px;
  position: absolute;
  top: 50%;
  outline: 0;
  z-index: 9999;
  margin-top: -31px;
  font-weight: 400;
  display: none;
}
.seckill-content .bx-next {
  right: 0;
}
.seckill-content .wrapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1206px;
  height: 250px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  flex-wrap: nowrap;
  position: relative;
  left: 0px;
}
.seckill-content .wrapp li {
  width: 201px;
  height: 225px;
  list-style: none;
  padding: 0 15px;
  border-left: 1px solid #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.seckill-content .wrapp li img {
  width: 170px;
  height: 180px;
  display: block;
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-family: "microsoft yahei";
}
.food .floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.food .floor .coll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1210px;
  height: 478px;
  background: #fff;
  overflow: hidden;
}
.food .floor .coll .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1210px;
  height: 58px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 25px;
  background-image: linear-gradient(90deg, #edba21, #e19631);
}
.food .floor .coll .header h3 {
  width: 100px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
}

.warpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #FFF;
  overflow: hidden;
}
.warpper .co {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 580px;
  overflow: hidden;
}
.warpper .co .coo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}
.warpper .co .coo .cover {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 186px;
  height: 260px;
  background: #F7F7F7;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}
.warpper .co .coo .split {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 382px;
  height: 260px;
}
.warpper .co .coo .split a, .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .wrapper p span, .wrapper p .warpper .co .coo .split span {
  overflow: hidden;
  width: 191px;
  height: 130px;
  background: #fff;
}
.warpper .co .coo .split a:nth-child(2), .warpper .co .coo .split .wrapper p span:nth-child(2), .wrapper p .warpper .co .coo .split span:nth-child(2) {
  width: 191px;
  height: 130px;
  background: #eeeeee;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #E6E6E6;
}
.warpper .co .coo .split a:nth-child(3), .warpper .co .coo .split .wrapper p span:nth-child(3), .wrapper p .warpper .co .coo .split span:nth-child(3) {
  width: 191px;
  height: 130px;
  background: #fff;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0;
  border-left: 0;
}

.im:hover {
  transform: translateX(-10px);
  transition: all 1s;
}

.more, .hygiene .drinks {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.more a, .hygiene .drinks a, .more .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .more a:nth-child(4), .hygiene .drinks .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .hygiene .drinks a:nth-child(4), .more .wrapper p span, .wrapper p .more span, .hygiene .drinks .wrapper p span, .wrapper p .hygiene .drinks span {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 130px;
  background: #F7F7F7;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.hygiene {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 579px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 15px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  overflow: hidden;
}
.hygiene .drinks {
  overflow: hidden;
}

.produce {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 260px;
  background: #F7F7F7;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
}
.produce .pro-left, .produce .pro-center, .produce .pro-right {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 186px;
  height: 260px;
  background: #fff;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}
.produce .pro-center {
  overflow: hidden;
  background: indigo;
}
.produce .pro-right {
  background: lightseagreen;
}

.life {
  width: 1210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
  font-family: "microsoft yahei";
}
.life .life-left, .life .life-center, .life .life-right {
  width: 600px;
  background: #fff;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
}
.life .life-left .life-header, .life .life-center .life-header, .life .life-right .life-header {
  height: 58px;
  background: #cd375e;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 25px;
  background-image: linear-gradient(90deg, #cd375e, #c1314d);
}
.life .life-left .life-header h3, .life .life-center .life-header h3, .life .life-right .life-header h3 {
  width: 100px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 22px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
}

.life-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  background-color: #FFF;
  overflow: hidden;
}
.life-title .life-warpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.life-title .life-warpper .life-1, .life-title .life-warpper .life-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 260px;
  background: #F7F7F7;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
}
.life-title .life-warpper .life-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.life-title .life-warpper .life-2 a:nth-child(1), .life-title .life-warpper .life-2 .warpper .co .coo .split a:nth-child(1):nth-child(4), .warpper .co .coo .split .life-title .life-warpper .life-2 a:nth-child(1):nth-child(4), .life-title .life-warpper .life-2 .wrapper p span:nth-child(1), .wrapper p .life-title .life-warpper .life-2 span:nth-child(1) {
  width: 191px;
  height: 130px;
  background: #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #fff;
}
.life-title .life-warpper .life-2 a:nth-child(2), .life-title .life-warpper .life-2 .warpper .co .coo .split a:nth-child(2):nth-child(4), .warpper .co .coo .split .life-title .life-warpper .life-2 a:nth-child(2):nth-child(4), .life-title .life-warpper .life-2 .wrapper p span:nth-child(2), .wrapper p .life-title .life-warpper .life-2 span:nth-child(2) {
  width: 191px;
  height: 130px;
  background: #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
}

.life-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 130px;
  padding-top: 10px;
  clear: both;
}
.life-inner a, .life-inner .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .life-inner a:nth-child(4), .life-inner .wrapper p span, .wrapper p .life-inner span {
  overflow: hidden;
  width: 186px;
  height: 130px;
  background: #F7F7F7;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.life-center {
  background-image: linear-gradient(90deg, #974676, #9e4075);
}

#ccti {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ccti .cctii {
  width: 100%;
  border-top: 1px;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #e3e3e3;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ccti .cctii .warpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 86px;
  background: 0;
}
#ccti .cctii .warpper i {
  width: 250px;
  height: 86px;
  background: 0;
  background: url(../img/cti.png) no-repeat;
  display: block;
}
#ccti .proclamation {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
}
#ccti .proclamation .wapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ccti .proclamation .wapper .notice {
  width: 300px;
  height: 134px;
  background: 0;
  border-right: 1px solid #eaeaea;
  margin: 25px 0 25px 2%;
}
#ccti .proclamation .wapper .notice .title p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-family: " Arial, Helvetica, sans-serif";
  color: #666;
  line-height: 20px;
  padding: 5px 5px 5px 20px;
  margin: 0px 0 5px;
}

.content-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.content-news ul {
  list-style: none;
  padding: 0px 6px 0px 15px;
}
.content-news ul li {
  width: 250px;
  height: 24px;
  background: 0;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content-news ul li a, .content-news ul li .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .content-news ul li a:nth-child(4), .content-news ul li .wrapper p span, .wrapper p .content-news ul li span {
  color: #999;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Arial, Helvetica, sans-serif";
  width: 823px;
  float: left;
  font-size: 0;
  word-spacing: -1px;
  white-space: nowrap;
  padding: 20px 0%;
  margin-left: 50px;
  overflow: hidden;
  list-style: none;
}
.link li {
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
  width: 20%;
}
.link li dl {
  display: block;
  width: 90%;
}
.link li dl dt {
  font-size: 16px;
  text-align: center;
  font-family: "Arial, Helvetica, sans-serif";
  color: #666;
  line-height: 20px;
  padding: 5px;
  margin: 5px 0;
}
.link li dl dd {
  font-size: 12px;
  text-align: center;
  font-family: "Arial, Helvetica, sans-serif";
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  clear: both;
  padding: 2px 5px;
  overflow: hidden;
}
.link li dl dd a, .link li dl dd .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .link li dl dd a:nth-child(4), .link li dl dd .wrapper p span, .wrapper p .link li dl dd span {
  color: #999;
}

#footer {
  width: 100%;
  height: 224px;
  background: #343a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1210px;
  height: 204px;
  background: #343a3a;
}
.wrapper p {
  width: 1210px;
  height: 33px;
  background: 0;
  word-spacing: 5px;
  padding: 15px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
}
.wrapper p a, .wrapper p .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .wrapper p a:nth-child(4), .wrapper p span {
  font-size: 12px;
  text-align: center;
  font-family: "微软雅黑";
  color: #eeeeee;
  line-height: 16px;
  margin: 0 5px;
}
.wrapper .footer-img {
  width: 520px;
  height: 81px;
  background: 0;
  padding: 20px 0 10px;
  width: 32.5rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper .footer-img li {
  width: 108px;
  height: 40px;
  background: url(../img/yangguang-footer.png) no-repeat;
}
.wrapper .footer-img li:nth-child(2) {
  background: transparent;
  position: relative;
  overflow: hidden;
}
.wrapper .footer-img li:nth-child(2) a, .wrapper .footer-img li:nth-child(2) .warpper .co .coo .split a:nth-child(4), .warpper .co .coo .split .wrapper .footer-img li:nth-child(2) a:nth-child(4), .wrapper .footer-img li:nth-child(2) p span, .wrapper p .footer-img li:nth-child(2) span {
  width: 108px;
  height: 40px;
}
.wrapper .footer-img li:nth-child(2) a img, .wrapper .footer-img li:nth-child(2) .warpper .co .coo .split a:nth-child(4) img, .warpper .co .coo .split .wrapper .footer-img li:nth-child(2) a:nth-child(4) img, .wrapper .footer-img li:nth-child(2) p span img, .wrapper p .footer-img li:nth-child(2) span img {
  position: absolute;
  left: -123px;
}
.wrapper .footer-img li:nth-child(2) a:hover img, .wrapper .footer-img li:nth-child(2) .warpper .co .coo .split a:hover:nth-child(4) img, .warpper .co .coo .split .wrapper .footer-img li:nth-child(2) a:hover:nth-child(4) img, .wrapper .footer-img li:nth-child(2) p span:hover img, .wrapper p .footer-img li:nth-child(2) span:hover img {
  left: -245px;
  transition: 1s;
}
.wrapper .footer-img li:nth-child(3) {
  background-position: -367px 0;
}
.wrapper .footer-img li:nth-child(4) {
  background-position: -489px 0;
}

#like {
  width: 100%;
  height: 1355px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#like .like-nner {
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  width: 1210px;
  height: 35px;
  height: 72px;
  padding: 0 0 20px;
  background: transparent url(../img/下载.png) repeat-x scroll 0 18px;
}
#like .like-nner h3 {
  font-size: 26px;
  text-align: center;
  font-family: fzzhengheis-el-gbregular;
  color: #333;
  display: inline;
  padding: 0 50px;
  background-color: #f2f2f2;
  font-weight: 400;
}
#like .like-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -10px;
  list-style: none;
  overflow: hidden;
}

.like-inner {
  overflow: hidden;
}

.like-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 234px;
  height: 315px;
  background: #fff;
  margin: 0 0 10px 10px;
}
.like-list li img {
  width: 100%;
  height: 230px;
  display: block;
}

#nav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9990;
}
#nav .nav1 {
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-right: 6px solid #7a6e6e;
  -webkit-transition: right .3s ease-in-out 0s;
  -moz-transition: right .3s ease-in-out 0s;
  transition: right .3s ease-in-out 0s;
}

.nav3 {
  width: 35px;
  height: 50%;
  position: relative;
  top: 50%;
  left: -29px;
  margin-top: -61px;
}
.nav3 .nav30, .nav3 .nav31, .nav3 .nav32, .nav3 .nav33, .nav3 .nav34, .nav3 .nav35, .nav3 .nav36 {
  width: 35px;
  height: 35px;
  background: #7a6e6e;
  position: relative;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  z-index: 10;
}
.nav3 .tab-tip {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 9;
  display: inline-block;
  background: url(../img/toolbar_bg.png) no-repeat;
  background-position: -100px 0;
}
.nav3 .tab-ico {
  width: 34px;
  height: 35px;
  background: #7a6e6e;
  margin-left: 1px;
  position: relative;
  display: inline-block;
  background: url(../img/toolbar_bg.png);
  background-repeat: no-repeat;
}

.tab-text {
  width: 62px;
  height: 35px;
  background: #7a6e6e;
  font-size: 0;
  text-align: center;
  font-family: "宋体";
  color: #fff;
  line-height: 35px;
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0;
  border-radius: 3px 0 0 3px;
  transition: left .3s ease-in-out .1s;
}

.nav31 .tab-ico, .nav32 .tab-ico, .nav33 .tab-ico, .nav34 .tab-ico, .nav35 .tab-ico, .nav36 .tab-ico {
  background-position: 0 -50px;
}

.nav32 .tab-ico {
  background-position: 0 -350px;
}

.nav33 .tab-ico {
  background-position: 0 -100px;
}

.nav34 .tab-ico {
  background-position: 0 -150px;
}

.nav35 .tab-ico {
  background-position: 0 -200px;
}

.nav36 .tab-ico {
  background-position: 0 -300px;
}

.nav4 {
  width: 35px;
  height: 35px;
  background: #7a6e6e;
  position: absolute;
  bottom: -1px;
  left: -29px;
  z-index: 999;
}
.nav4 .nav41 {
  width: 35px;
  height: 35px;
  background: #7a6e6e;
  position: relative;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  background: url(../img/toolbar_bg.png) no-repeat;
  background-position: 0 -250px;
  z-index: 1000;
}

.nav50 {
  width: 100px;
  height: 35px;
  background: #C81623;
  right: -100px;
  top: 0px;
  position: absolute;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 7px 0 0 7px;
  z-index: -1;
}
.nav50 span {
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  margin-left: 6px;
}

.tab-ico:hover .nav50 {
  right: 0;
  transition: 1s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
